@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Ubuntu:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --section-question-need-cryptochange-background:#21283D;
    --section-title-text-color: #FFFFFF;
    --dash-before-title-question-need-cryptochange-color:#FFB811;
    --title-statistic-text-color:#FFB811;
    --subtitle-statistic-text-color:#A7A7B1;
    --between-title-and-subtitle:#A7A7B1;
    font-size: 18px;
    scroll-behavior: smooth;
    font-family: Ubuntu, Fi sans-serif;
}

.container {
    max-width: 1200px;
    margin: auto;
}

img {
    display: block;
    width: 100%;
}

h2 {
    margin-left: 5px;
}