.section__question-need-cryptochange {
    background-color: var(--section-background);
    background-size: cover;
}
.dash__before-title-question-need-cryptochange{
    color: var(--dash-before-title-question-need-cryptochange-color);
    font-size: 30px;
    display: inline-block;
}
.title__question-question-need-cryptochange{
    font-size: 30px;
    color: var(--section-title-text-color);
    display: inline-block;
}
