.section__question-need-cryptochange {
    background: #21283D;
    background-size: cover;
    height: 100;
    max-width: none;
}
.title__question-question-need-cryptochange{
    font-size: 30px;
    color:#FFFFFF;
}
.dash__before-title-question-need-cryptochange{
    color: #FFB811;
    font-size: 30px;
    vertical-align: baseline;
}