.block__statistic{
    border: solid 2px white;
    display:flex;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
    justify-content: center;
}
.block__title_statistic-in-dollar{
    color:var(--title-statistic-text-color);
    font-size: 30px;
    border: solid 2px white;
}
.block__title-statistic-users{
    color:var(--title-statistic-text-color);
    font-size: 30px;
    border: solid 2px white;
}
.block__title-statictic-in-percent{
    color:var(--title-statistic-text-color);
    font-size: 30px;
    display: inline;
    border: solid 2px white;
}
.block__title-statistic-speed-transactions{
    color:var(--title-statistic-text-color);
    font-size: 30px;
    display: inline;
    border: solid 2px white;
}
.subtitle__text-statistic-in-dollar{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: solid 2px white;
    display: inline;
}
.subtitle__text-statistic-users{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: solid 2px white;
    display: inline;
}
.subtitle__text-statistic-in-percent{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: solid 2px white;
    display: inline;
}
.subtitle__text-statistic-speed-transactions{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    border: solid 2px white;
    display: inline;
}

hr{
    background:#ffffff1c;
    height: 3px;
    border: 0;
    width: 20%;
}