.block__statistic{
    display:block;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
    min-width: 320px;
}
.block__title_statistic-in-dollar{
    color:var(--title-statistic-text-color);
    font-size: 30px;
}
.block__title-statistic-users{
    color:var(--title-statistic-text-color);
    font-size: 30px;
}
.block__title-statictic-in-percent{
    color:var(--title-statistic-text-color);
    font-size: 30px;
}
.block__title-statistic-speed-transactions{
    color:var(--title-statistic-text-color);
    font-size: 30px;
}
.subtitle__text-statistic-in-dollar{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
}
.subtitle__text-statistic-users{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
}
.subtitle__text-statistic-in-percent{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
}
.subtitle__text-statistic-speed-transactions{
    color: var(--subtitle-statistic-text-color);
    font-family: 'Fira Sans', sans-serif;
    font-size: 15px;
    display: inline;
}

hr{
    background:#ffffff1c;
    height: 3px;
    border: 0;
    width: 20%;
}
@media (min-width: 768px){
    .block__statistic{
    display:flex;
    grid-template-columns: 200px 200px 200px 200px;
    align-items: center;
    padding-right: 40px;
    padding-left: 40px;
    margin-top: 50px;
    justify-content: center;
    }
}